<div class="container">
  <div class="row text-center" style="margin-top:50px;">
    <div class="col-sm-12">
      <h1>Dabba Share</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-12">
      <mat-form-field style="width:300px">
        <mat-select [(ngModel)]="todaysMembers" placeholder="Members" [formControl]="friends" multiple>
          <mat-option *ngFor="let member of members" [value]="member">{{member}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center" style="margin-top:30px">
    <div class="col-sm-12">
      <mat-form-field style="margin:10px;">
        <mat-select [(ngModel)]="numberOfLunchesSelected" placeholder="Number of Lunches">
          <mat-option *ngFor="let lunch of lunches" [value]="lunch">
            {{ lunch }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin:10px;">
        <mat-select [(ngModel)]="numberOfRotiRollsSelected" placeholder="Number of Extra roti">
          <mat-option *ngFor="let rotirolls of extraRotiRolls" [value]="rotirolls">
            {{ rotirolls }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12">
      <button mat-raised-button color="primary" style="margin:10px" (click)="placeOrder()">Order</button>
      <button mat-raised-button color="secondary" style="margin:10px" (click)="viewReports()">View Report</button>
    </div>
  </div>
  <div class="row text-center" style="margin-top:20px">
    <div class="col-sm-12" *ngIf="showOrderDetails">
      <p>
        Today's order: {{numberOfLunchesSelected}} unpacked lunches with {{numberOfRotiRollsSelected}} extra roti rolls
      </p>
      <p *ngFor="let member of todaysMembers" style="margin:0 !important">
        {{member}}
      </p>
    </div>
  </div>

  <div class="row text-center" *ngIf="showReports">
    <div class="col-sm-12">
      <mat-form-field class="filterForTable">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Pending Balance Column -->
        <ng-container matColumnDef="pendingBalance">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Pending Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.pendingBalance | currency:'₹ '}} </td>
        </ng-container>

        <!--  Start Date Column -->
        <ng-container matColumnDef="dateStart">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Start Date</th>
          <td mat-cell *matCellDef="let element"> {{element.dateStart}} </td>
        </ng-container>

        <!--  Start Date Column -->
        <ng-container matColumnDef="dateEnd">
          <th mat-header-cell *matHeaderCellDef class="text-center"> End Date</th>
          <td mat-cell *matCellDef="let element"> {{element.dateEnd}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>